<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
	    
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<script>
	$(document).ready(function(){
	  Bsstrss.initialize();
	});
</script>