<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
	    
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="header row">
				<div class="col-xs-1">
					<a href="#menu-toggle" 
		      class="btn btn-default" 
		      id="menu-toggle">
		     		<span class="glyphicon glyphicon-chevron-left"></span>
		      </a>
				</div>
				<div class="col-xs-4">
		    	<form id="add-feed">
		    		<div class="form-group has-feedback">
		    			<input type="text" class="form-control" placeholder="add feed url">
		    		</div>
		    	</form>	
				</div>
				
				<div class="col-xs-5">
					<h4>Where Them Feeds At?</h4>
				</div> 
				<div class="col-xs-2">
					 <%= button_to "Sign Out", session_url, method: :delete, class: "btn btn-primary" %>
				</div>
			</div>
			<div id="main-content"></div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

