<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
	    
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
      		<%= button_to "Sign out", session_url, method: :delete, class: "btn btn-primary navbar-btn" %>
      		<form id="add-feed">
	      		<input type="text" placeholder="add feed url">
	      	</form>
          <h1>Simple Sidebar</h1>
          <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
          <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        </div>
      </div>
    </div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});

$("#add-feed").on('submit', function(event) {
	event.preventDefault();
	var form = $(event.currentTarget);
	var url = form.find('input').val();
	var feed = new Bsstrss.Models.Feed({ feed_url: url });
	feed.save({}, {
		success: Bsstrss.feeds.add(feed)
	});
});

// Replace source
$('img.feed-icon').error(function(){
  console.log('here')
}).attr('src', 'http://www.logoquizcheat.com/levels/games/android/meeyo_logo-quiz-full/stage-6/full/rss.jpg');	


</script>