Welcome!

<div class="log-in">
	<h2>Log In</h2>

	<%= render "shared/login", url: session_url %>
</div>
	OR
<div class="sign-up">
	<h2>Create Account</h2>

	<%= render "shared/login", url: users_url %>
</div>