
<style>
	body {
		background: url("http://i.imgur.com/E1Csfi3.jpg") no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
</style>
<div class="bg">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 panel panel-default welcome-container">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<h1 class="shadow">Where Them Feeds At?</h1>
					</div>
				</div class="row">
				<% unless flash[:errors].nil? %>
					<div class="row">
						<div class="col-xs-10 col-xs-offset-1">
							<ul id="errors">
								<% flash[:errors].each do |error| %>
									<li><%= error %></li>
								<% end %>
							</ul>
						</div>
					</div>
				<% end %>
			<div class="row">

					<div class="col-xs-5  col-xs-offset-1 col-left">
						<h2>Log In</h2>
					</div>
					<div class="col-xs-5 col-right">
						<h2>Sign Up</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5 col-xs-offset-1 col-left">
						<%= render "shared/login", use: 'login' %>
					</div>
					<div class="col-xs-5 col-right">
						<%= render "shared/login", use: 'signup' %>
					</div>
				</div>
			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->
</div>