<div class="container"></div>
<div class="row header">
	<div class="col-xs-1"></div>
	<div class="col-xs-8"><h1>Welcome to BSSTRSS</h1></div>
</div>
<div class="jumbotron">
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-3" class="login">
		<h2>Log In</h2>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-3" class="login">
		<h2>Sign Up</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-3" class="login">
			<%= render "shared/login", use: 'login' %>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-3" class="login">
		<%= render "shared/login", use: 'signup' %>
	</div>
</div>
</div>
<div class="row blurb">
	<div class="col-xs-offset-2">
		<h2>All your favorite websites, all in one place!</h2>
	</div>
</div> 
</div>