<li class="sidebar-brand">
    <a href="#">
        Bsstrss
    </a>
</li>
<% feeds.each(function(feed) { %>
  <li>
    <a href="javascript:void(0)">
    	<img class="feed-icon" id="<%= feed.escape('title') %>" src="<%= feed.escape('url') + '/favicon.ico' %>"> 
    	<%= feed.escape('title') %>
    </a>
  </li>
<% }) %>

<script>
  $(document).ready(function(){
    $('img.feed-icon').error(function(){
      $(this).attr('src', 'http://www.pandasecurity.com/NR/rdonlyres/8C19BC46-887E-4BF1-B118-D3E1BA92573F/0/ico_rss.gif')
    })
  })
</script>