<li class="sidebar-brand">
    <a href="/">
        WTF @
    </a>
</li>
<li>
	<a>
		<span id="sidebar-star" class="glyphicon glyphicon-star"></span> 
		Favorites
		<span class="badge">X</span>
	</a>
</li>
<div id="feeds">
</div>
