div.header {
	border-bottom: grey 2px solid;
	margin-top: -8px;
	margin-bottom: 15px;
}

div.entry-index-item {
	max-height: 400px;
	width: 650;
	overflow: hidden;
	padding-bottom: 0px;
}

div.overlay {
	background-color: rgba(255, 255, 255, 0.75);
}

div.entry-index-item img {
	max-height: 200px;
	float: left;
	margin-right: 30px;
	margin-left: 15px;
}

small.published {
	margin-top: 4px;
	float: right;
}

div.sub-heading {
	padding-top: 5px;
	padding-bottom: 5px;
}

span.form-control-feedback {
	top: 0px;
}

div.panel-body {
	overflow-x: scroll;
/*	transition: visibility, 1s, ease;
	transition: display, 1s, ease;*/
}

.hidden {
/*	transition: visibility, 1s, ease;
	transition: display, 1s, ease;*/
}

div.panel-footer {
	padding-top: 0px;
	padding-bottom: 1px;
	margin-bottom: 0px;
}

