div.header {
	border-bottom: grey 2px solid;
	margin-top: -8px;
	margin-bottom: 15px;
	padding-bottom: 11px;
}

div.entry-index-item {
	max-height: 400px;
	width: 650;
	overflow: hidden;
	padding-bottom: 15px;
}

div.entry-index-item img {
	max-height: 200px;
	float: left;
	margin-right: 30px;
	margin-left: 15px;
}

small.published {
	margin-top: 4px;
	float: right;
}

div.sub-heading {
	padding-top: 5px;
	padding-bottom: 5px;
}
