div.checkbox {
	display: inline-block;
}

.entry-star {
	margin-left: 15px;
}

.glyphicon-star {
	color: gold;
	text-shadow: 0px 0px 0.25px black;
}

.header {
	border-bottom: grey 2px solid;
	margin-top: -8px;
	margin-bottom: 15px;
}

.entry-index-item {
	max-height: 400px;
	overflow: hidden;
	padding-bottom: 0px;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.75);
}

.entry-index-item img {
	max-height: 200px;
	float: left;
	margin-right: 30px;
	margin-left: 15px;
}

small.published {
	margin-top: 4px;
	float: right;
}

.sub-heading {
	padding-top: 5px;
	padding-bottom: 5px;
}

span.form-control-feedback {
	top: 0px;
}

.panel-body {
	overflow: hidden;
}

.entry-footer {
	background-color: whitesmoke;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 1px solid #dddddd;
	padding: 0px 15px 1px 15px;
	margin-bottom: 0px;
}

