#inTurnFadingTextG{
width:320px;
margin: 0 auto;
}

.inTurnFadingTextG{
color:#000000;
font-family:Arial;
font-size:25px;
text-decoration:none;
font-weight:bold;
font-style:italic;
float:left;
-moz-animation-name:bounce_inTurnFadingTextG;
-moz-animation-duration:0.52s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bounce_inTurnFadingTextG;
-webkit-animation-duration:0.52s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bounce_inTurnFadingTextG;
-ms-animation-duration:0.52s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bounce_inTurnFadingTextG;
-o-animation-duration:0.52s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bounce_inTurnFadingTextG;
animation-duration:0.52s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#inTurnFadingTextG_1{
-moz-animation-delay:0.08s;
-webkit-animation-delay:0.08s;
-ms-animation-delay:0.08s;
-o-animation-delay:0.08s;
animation-delay:0.08s;
}

#inTurnFadingTextG_2{
-moz-animation-delay:0.1s;
-webkit-animation-delay:0.1s;
-ms-animation-delay:0.1s;
-o-animation-delay:0.1s;
animation-delay:0.1s;
}

#inTurnFadingTextG_3{
-moz-animation-delay:0.12s;
-webkit-animation-delay:0.12s;
-ms-animation-delay:0.12s;
-o-animation-delay:0.12s;
animation-delay:0.12s;
}

#inTurnFadingTextG_4{
-moz-animation-delay:0.14s;
-webkit-animation-delay:0.14s;
-ms-animation-delay:0.14s;
-o-animation-delay:0.14s;
animation-delay:0.14s;
}

#inTurnFadingTextG_5{
-moz-animation-delay:0.16s;
-webkit-animation-delay:0.16s;
-ms-animation-delay:0.16s;
-o-animation-delay:0.16s;
animation-delay:0.16s;
}

#inTurnFadingTextG_6{
-moz-animation-delay:0.18s;
-webkit-animation-delay:0.18s;
-ms-animation-delay:0.18s;
-o-animation-delay:0.18s;
animation-delay:0.18s;
}

#inTurnFadingTextG_7{
-moz-animation-delay:0.2s;
-webkit-animation-delay:0.2s;
-ms-animation-delay:0.2s;
-o-animation-delay:0.2s;
animation-delay:0.2s;
}

#inTurnFadingTextG_8{
-moz-animation-delay:0.22s;
-webkit-animation-delay:0.22s;
-ms-animation-delay:0.22s;
-o-animation-delay:0.22s;
animation-delay:0.22s;
}

#inTurnFadingTextG_9{
-moz-animation-delay:0.24s;
-webkit-animation-delay:0.24s;
-ms-animation-delay:0.24s;
-o-animation-delay:0.24s;
animation-delay:0.24s;
}

#inTurnFadingTextG_10{
-moz-animation-delay:0.26s;
-webkit-animation-delay:0.26s;
-ms-animation-delay:0.26s;
-o-animation-delay:0.26s;
animation-delay:0.26s;
}

#inTurnFadingTextG_11{
-moz-animation-delay:0.28s;
-webkit-animation-delay:0.28s;
-ms-animation-delay:0.28s;
-o-animation-delay:0.28s;
animation-delay:0.28s;
}

#inTurnFadingTextG_12{
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#inTurnFadingTextG_13{
-moz-animation-delay:0.32s;
-webkit-animation-delay:0.32s;
-ms-animation-delay:0.32s;
-o-animation-delay:0.32s;
animation-delay:0.32s;
}

#inTurnFadingTextG_14{
-moz-animation-delay:0.34s;
-webkit-animation-delay:0.34s;
-ms-animation-delay:0.34s;
-o-animation-delay:0.34s;
animation-delay:0.34s;
}

#inTurnFadingTextG_15{
-moz-animation-delay:0.36s;
-webkit-animation-delay:0.36s;
-ms-animation-delay:0.36s;
-o-animation-delay:0.36s;
animation-delay:0.36s;
}

#inTurnFadingTextG_16{
-moz-animation-delay:0.38s;
-webkit-animation-delay:0.38s;
-ms-animation-delay:0.38s;
-o-animation-delay:0.38s;
animation-delay:0.38s;
}

#inTurnFadingTextG_17{
-moz-animation-delay:0.4s;
-webkit-animation-delay:0.4s;
-ms-animation-delay:0.4s;
-o-animation-delay:0.4s;
animation-delay:0.4s;
}

#inTurnFadingTextG_18{
-moz-animation-delay:0.42s;
-webkit-animation-delay:0.42s;
-ms-animation-delay:0.42s;
-o-animation-delay:0.42s;
animation-delay:0.42s;
}

#inTurnFadingTextG_19{
-moz-animation-delay:0.44s;
-webkit-animation-delay:0.44s;
-ms-animation-delay:0.44s;
-o-animation-delay:0.44s;
animation-delay:0.44s;
}

#inTurnFadingTextG_20{
-moz-animation-delay:0.46s;
-webkit-animation-delay:0.46s;
-ms-animation-delay:0.46s;
-o-animation-delay:0.46s;
animation-delay:0.46s;
}

#inTurnFadingTextG_21{
-moz-animation-delay:0.48s;
-webkit-animation-delay:0.48s;
-ms-animation-delay:0.48s;
-o-animation-delay:0.48s;
animation-delay:0.48s;
}

#inTurnFadingTextG_22{
-moz-animation-delay:0.5s;
-webkit-animation-delay:0.5s;
-ms-animation-delay:0.5s;
-o-animation-delay:0.5s;
animation-delay:0.5s;
}

@-moz-keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

}

@-webkit-keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

}

@-ms-keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

}

@-o-keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

}

@keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

} 