.header {
	border-bottom: solid black 2px
}

.blurb {
	margin-top: 30px
}

.jumbotron h2 {
	margin-top: 0px
}

button.guest {
	margin-top: 10px
}

div.welcome {
	background-color: #C4AEE9;
	height: 100vh;
}