

div.welcome-container {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
	margin-top: 50px;
	background-color: rgba(255, 255, 255, 0.75);
}

div.col-left {
	padding-right: 25px;
}

div.col-right {
	padding-left: 25px
}

button.guest {
	margin-top: 10px
}

.shadow {
  text-shadow:         2px 2px 2px #aaa;
}
