<div class="animation my-custom-styles">
	<% for (var i = 0; i < msg.length; i ++) { %>
		<% if (msg[i] === ' ') { %>
			<div id="inTurnFadingTextG_<%= i + 1 %>" class="inTurnFadingTextG">
				&nbsp;
			</div>
		<% } else { %>
			<div id="inTurnFadingTextG_<%= i + 1 %>" class="inTurnFadingTextG">
				<%= msg[i] %>
			</div>
		<% } %>
	<% } %>
</div>