<!DOCTYPE html>
<html>
<head>
	<script src='//naytev.global.ssl.fastly.net/js/embed/5314a557c2e634357449d4a7.js'></script>
  <title>Where Them Feeds At!?</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
